<div class="movies-background"></div>
<p class="site-header">rottenpotatoes</p>
<p class="change-movies-title">Add Movie</p>

<%= render "form", movie: @movie %>

<br>

<div class="change-movies-footer" style="text-align: center;">
  <%= link_to "Back to movies", movies_path, class: "movie-button" %>
</div>
